.chart rect {
  fill: #4aaeea;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  strok:e #fff;
  shape-rendering: crispEdges;
}

#locationContainer {
  text-align: center;
  width: 100%;
}

#toploc, #bottomloc {
  height: 190px;
  background-color: rgb(255, 255, 0);
  display: block;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

#questions p:hover {
  cursor: pointer;
  cursor: hand;
}
